/*https://gist.github.com/maxkfranz/621d51ea7de19608127e*/

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 500px;
  background-color: #336699;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

.btn-graph-control {
  display: block;
  margin-bottom: 1em;
}

#main-content-inner .row {
  margin-bottom: 1em;
}

#dialog-area {
  width: 100%;
  height: 10em;
}

#kb-text-area {
  width: 100%;
  height: 10em;
}

input#command {
  width: 100%;
}
